body{
  height: 100%;
}
.h3{
  margin: 0;
}
.center-box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.full-width{
  width: 100%;
}
.no-padding{
  padding: 0;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: #ffffff;
}
.tabs .tab a:hover{
  background-color: #ede7f6;
}
.tabs .tab a.active{
  background-color: #ffffff;
}
.tabs .indicator{
  background-color: #4527a0;
}
.input-field label {
  color: #000;
}
.input-field .prefix.active {
  color: black;
}
.input-field input:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color: #4527a0 !important;
}
.row .input-field input:focus , .input-field input[type=text].valid, .input-field input[type=email].valid, textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4527a0 !important;
  box-shadow: 0 1px 0 0 #4527a0 !important;
}
.btn{
  background-color: #4527a0;
}
.btn:hover {
  background-color: #6d4fc9;
}
.btn:focus {
  background-color: #4520b3;
}
.bold{
  font-weight: bold;
}

/* #post{
  display: none;
} */
#konten {
  display: none;
}
#user{
  display: none;
}
.add-margin-top-12{
  margin-top: 12px;
}
.add-margin-bottom-12{
  margin-bottom: 12px;
}
.full-width {
  width: 100%;
}
.fixed {
  /* position: fixed; */
  vertical-align: top;
  display: inline-block;
  height: 100%;
  overflow: auto;
}
.clear-fix{
  content: "";
  clear: both;
  display: table;
}
.col .tambahpadding{
  padding: 0.5rem;
}
.round-btn {
  border-radius: 18px;
}

.gradient-1{
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
}
.no-vertical-align{
  vertical-align: unset;
}
.komen-detail{
  font-size: 10px;
}

.modal .modal-title {
  padding: 16px;
}
.modal .modal-title h4 {
  margin: 0;
}
.margin-right-6 {
  margin: 0;
  margin-right: 6px;
}